<h2><%= @message.author %></h2>
<p><%= @message.content %></p>
<p><%= @message.url %></p>
<p><%= @message.created_at %></p>  

<h1> Other messages </h1>

<% @other_messages.each do |message| %>
  <h2><%= message.author %></h2>
  <p><%= message.content %></p>
  <p><%= message.url %></p>
  <p><%= message.created_at %></p>  
<% end %>

<a href="/messages"> Back to all messages </a>